/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/font/Dekar-Regular.woff2') format('woff2');
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/font/Dekar-Regular.woff2') format('woff2');
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/font/Dekar-Regular.woff2') format('woff2');
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/font/Dekar-Regular.woff2') format('woff2');
}
